#Rebellion-Map{
  height: 100%;
  width: 100%;
}
.map{
  height: 80vh;
}
.Rebellion-Header{
  z-index: 10000;
}
.Rebellion-Block{
  .heading{
    text-align: center;
    &::after{
      content: url("/assets/images/wheel.png");
    }
  }
}
